.selectContainer {
  position: relative;
  width: 12.5rem;
  cursor: pointer;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: bold;
}

.label {
  margin-right: 0.625rem;
}

.label > p {
  font-weight: 400;
  margin-top: 10px;
}

.arrow {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  margin-top: -30px;
}

.options {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 0.3125rem;
  z-index: 2000;
  height: auto;
  margin-top: 0.3125rem;
  font-weight: 500;
}

.option {
  padding: 0.625rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option:hover {
  background-color: #f0f0f0;
}
