/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

.topNavbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  padding: 2px;
}

.topNavbarContent, .topNavbarHide {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  color: #eb4c6b;
}

.topNavbarContent > h1, .topNavbarHide > h1 {
  margin-left: 5px;
}

.menu {
  display: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.logoSection {
  color: black;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.middleLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.middleLogo > h1 {
  font-size: 36px;
  font-weight: bolder;
  color: black;
}

.desktop {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.categoryDesktop {
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.categoryDesktop:hover {
  color: #6b7280;
}

.iconSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons, .hiddenicons {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}


.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  display: none;
}

.menu-container.menu-open {
  display: flex;
}

.lowerFilter {
  display: none;
}

.mobile{
  display: none;
}

@media (max-width: 480px) {
  .topNavbarHide {
    display: none;
  }

  .menu {
    display: block;
    margin-right: 0.7rem;
  }

  .logoSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .middleLogo > h1 {
    font-size: 22px;
  }

  .categoryMobile {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .categoryMobile:hover {
    color: #6b7280;
  }

  .desktop {
    display: none;
  }

  .iconSection {
    gap: 1.5rem;
  }

  .hiddenicons {
    display: none;
  }

  .lowerFilter {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
  }

  .home {
    cursor: pointer;
    font-weight: bold;
    color: #9ca3af;
  }

  .shop {
    cursor: pointer;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -20px;
  }

  .hidden {
    display: none;
  }
}
